<section id="skills" class="skills-section">
    <h2>Keahlian</h2>
        
    <ul class="skill-categories">
        
          <li>
            <div class="skills-card">
              <span class="category-label">Bahasa Pemrograman</span>
            
              <ul class="skills-list">
                
                  <li class="skill">
                    Python
                  </li>
                
                  <li class="skill">
                    SQL
                  </li>
                
                  <li class="skill">
                    JavaScript
                  </li>
                
                  <li class="skill">
                    R
                  </li>
                
                </ul>
            </div>
            
          </li> 
        
          <li>
            <div class="skills-card">
              <span class="category-label">Tools & Software</span>
            
              <ul class="skills-list">
                
                  <li class="skill">
                    Streamlit
                  </li>
                
                  <li class="skill">
                    Pandas
                  </li>
                
                  <li class="skill">
                    Scikit-learn
                  </li>
                
                  <li class="skill">
                    TensorFlow
                  </li>
                
                  <li class="skill">
                    Power BI
                  </li>
                
                  <li class="skill">
                    Tableau
                  </li>
                
                  <li class="skill">
                    Git & GitHub
                  </li>
                
                </ul>
            </div>
            
          </li> 
        
          <li>
            <div class="skills-card">
              <span class="category-label">Soft Skills</span>
            
              <ul class="skills-list">
                
                  <li class="skill">
                    Problem Solving
                  </li>
                
                  <li class="skill">
                    Data Analysis & Visualization
                  </li>
                
                  <li class="skill">
                    Communication
                  </li>
                
                  <li class="skill">
                    Leadership
                  </li>
                
                  <li class="skill">
                    Teamwork
                  </li>
                
                </ul>
            </div>
            
          </li> 
        
      </ul>

</section>